 .u-section-1 {
  background-image: url("images/46.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 584px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 585px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 3.75rem;
  margin: 28px 74px 0 28px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 161px 64px 0 38px;
}

.u-section-1 .u-image-1 {
  width: 858px;
  height: 250px;
  margin: -269px auto 0 -273px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  margin: 73px auto 0 64px;
  padding: 12px 54px 14px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 584px;
}

.u-section-1 .u-container-layout-2 {
  padding: 100px 30px 30px;
}

.u-section-1 .u-image-2 {
  object-position: 100% 50%;
  height: 382px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-scale: 0.3;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    width: auto;
    margin-top: 26px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 106px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 137px;
    margin-top: -183px;
    margin-left: -119px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-top: 117px;
    margin-left: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 85px;
  }

  .u-section-1 .u-image-2 {
    height: 307px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -182px;
    margin-left: -94px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 116px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: -69px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 79px;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 105px;
    margin-top: -156px;
    margin-left: -84px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 102px;
    margin-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-1 .u-image-2 {
    height: 249px;
    margin-top: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 884px;
  grid-gap: 10px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image-11.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 173px;
  height: auto;
  margin: 730px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image-11.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-2 {
  min-height: 138px;
  height: auto;
  margin: 730px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WhatsAppImage2023-01-08at11.17.37AM.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-3 {
  min-height: 138px;
  height: auto;
  margin: 730px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WhatsAppImage2023-01-08at11.20.01AM.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-4 {
  min-height: 138px;
  height: auto;
  margin: 730px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WhatsAppImage2023-01-08at11.22.05AM.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-5 {
  min-height: 138px;
  height: auto;
  margin: 730px 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WhatsAppImage2023-01-08at11.22.05AM1.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 0 0;
}

.u-section-2 .u-group-6 {
  min-height: 138px;
  height: auto;
  margin: 730px 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2176px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 728px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-6 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1267px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1162px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2561px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2313px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-2 {
    min-height: 173px;
    margin-top: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-3 {
    min-height: 173px;
    margin-top: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-4 {
    min-height: 173px;
    margin-top: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-5 {
    min-height: 173px;
    margin-top: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-6 {
    min-height: 173px;
    margin-top: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.875rem;
  }
}